<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Navbar with Logo{% endblock %}</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/icon.png')}}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<style>
.navbar.transparent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    /* background: transparent; */
    /* position: fixed; */
    width: 100%;
    z-index: 1000;
    height: 100px;
    margin-top:0px;
    background-color: #f6e9e9;
    transition: background 0.3s;
}
.logo p{
    font-size: 40px;
    color: #ff4b2b;
}

.navbar.transparent .logo {
    font-size: 24px;
    font-weight: bold;
    color: #f6e9e9;
}

.navbar.transparent .nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar.transparent .nav-links a {
    text-decoration: none;
    color: #090808;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar.transparent .nav-links a:hover {
    color: #ff4b2b;
}</style>
<body>
    <nav class="navbar transparent">
        <div class="logo">
            <p>HostelEaze</p>
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <!-- <li><a href="signup.html">Sign Up/Login</a></li> -->

            {% if 'user_id' in session %}
            <!-- Display Profile Icon if Logged In -->
            <li><a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i> {{ session['user_name'] }}</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}

        {% if current_user.role == "admin" %}
            <li><a href="{{ url_for('admin') }}">Admin</a></li>
            {% endif %}
            
            <!-- Display Login Button if Not Logged In -->
            <li><a href="{{ url_for('login') }}">Sign Up/Login</a></li>
        {% endif %}
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="newsletter">
            <h2>Join our adventurous community!</h2>
            <p>Sign up to our newsletter for deals, inspo, and other travel treats!</p>
            <input type="email" placeholder="Your email address">
            <button id="arrowbtn">&rarr;</button>
        </div>
        <div class="footer">
            <div class="footer-column">
                <h3>Accomodation</h3>
                <ul>
                    <li><a href="#">Hostels</a></li>
                    <li><a href="#">Hotels</a></li>
                    <li><a href="#">Bed and Breakfast</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Booking Gaurantee</a></li>
                    <li><a href="#">Hostel Awards</a></li>
                    <li><a href="#">Tours & Experience</a></li>
                    <li><a href="#">Solo Travel</a></li>
                    <li><a href="#" style="color: #b3b3b3;">Student Discount</a></li>
                    <li><a href="#">Roamies</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>About Us</h3>
                <ul>
                    <li><a href="#">Hostelworld Group PLC</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Help & Support</h3>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Returns & Refund</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Work With Us</h3>
                <ul>
                    <li><a href="#">Hostel Sign Up</a></li>
                    <li><a href="#">Affiliate Program</a></li>
                    <li><a href="#">Hostelworld Inbox</a></li>
                </ul>
            </div>
            <div class="footer-column app-s">
                <h3>Experience Our App</h3>
                <div class="app-img">
                    <img src="/static/images/app_android.svg" alt="Google Play">
                    <img src="/static/images/app store.png" alt="App Store">
                </div>
            </div>
            <div class="contact-info">
                <h3>Connect with us</h3>
                <p>Email: <a href="mailto:costumer@bookstore.com">costumer@hms.com</a></p>
                <p>Phone: +91 95876XXXXX (11am to 7 pm, Mon-Fri)</p>
            </div>
            <div class="social-media">
                <a href="#"><img src="/static/images/footer_fb.png" alt="Facebook"></a>
                <a href="#"><img src="/static/images/footer_ig.png" alt="Instagram"></a>
                <a href="#"><img src="/static/images/footer_x.png" alt="Twitter"></a>
                <a href="#"><img src="/static/images/footer_linkdin.png" alt="Linkedin"></a>
                <a href="#"><img src="/static/images/footer_yt.png" alt="Youtube"></a>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='javascript/base.js') }}"></script>
    <script>
        window.addEventListener('scroll', () => {
    const navbar = document.querySelector('.navbar.transparent');
    if (window.scrollY > 50) {
        navbar.classList.add('scrolled');
    } else {
        navbar.classList.remove('scrolled');
    }
});
    </script>
</body>
</html>
